{% extends 'base.html' %}

{% block title %}Pacitentes{% endblock %}
    
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 justify-content-between">
    <h2 >Lista de Pacientes</h2>
    <a href="{% url 'paciente_create' %}" class="btn btn-primary">Novo Paciente</a>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Paciente</th>
            <th>CPF</th>
            <th>Nome do Responsável</th>
            <th>Contato Responsável</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% if pacientes %}
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.id }}</td>
                    <td>{{ paciente.full_name }}</td>
                    <td>{{ paciente.cpf }}</td>
                    <td>{{ paciente.nome_responsavel|title }}</td>
                    <td>{{ paciente.telefone_responsavel }}</td>
                    <td>
                        <a href="{% url 'paciente_detail' paciente.id %}" class="btn btn-sm btn-primary">Ver</a>
                        <a href="{% url 'paciente_update' paciente.id %}" class="btn btn-sm btn-warning">Editar</a>
                        <form action="{% url 'paciente_delete' paciente.id %}" 
                        onsubmit="return confirm('Tem certeza de que deseja excluir o paciente {{ paciente.full_name|title}}?')"
                        method="delete" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Excluir</button></form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">Nenhum paciente cadastrado.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}