{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - Administrador{% endblock %}

{% block content %}
    <h1 class="text-center m-5">Painel do Administrador</h1>
    {% if cards %}
    <div class="row mt-5">
        {% for card in cards %}    
                <div class="col-md-4 mb-5">
                    <div class="card text-center m-auto bg-light shadow" style="width: 14rem;">
                        <div class="card-body ">
                            <h3 class="card-title fs-3">{{ card.title }}</h3>
                            <p class="card-text mb-2 text-muted fs-4">{{ card.subtitle }}</p>
                            <a href="{{card.url}}" class="card-link fs-5">
                                <img src="{% static 'images/acessar.png' %}" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}
