{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Bem-vindo ao RDDPI</h1>
            <p class="lead">RELATÓRIO DIGITAL DIÁRIO DE PACIENTE IDOSO</p>
            <ul class="nav justify-content-center">
                {% if user.is_authenticated%}
                {% if user.is_superuser %}
                <li><a class="btn btn-primary btn-lg mx-2" href="{% url 'dashboard_admin' %}">Painel de Admin</a></li>
                {% else %}
                <li><a class="btn btn-primary btn-lg mx-2" href="{% url 'dashboard_profissional' %}">Painel da Saúde</a></li>                    
                {% endif %}
                {% endif%}
                <li><a class="btn btn-primary btn-lg" href="{% url 'sobre' %}" role="button">Saiba Mais</a></li>

            </ul>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/cuidados.jpg' %}" class="card-img-top" alt="Cuidados">
                <div class="card-body">
                    <h5 class="card-title">Cuidados Personalizados</h5>
                    <p class="card-text">Oferecemos serviços de cuidados personalizados, adaptados às necessidades de cada residente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/equipe.jpg' %}" class="card-img-top" alt="Equipe">
                <div class="card-body">
                    <h5 class="card-title">Equipe Especializada</h5>
                    <p class="card-text">Nossa equipe conta com profissionais de saúde capacitados, disponíveis 24 horas por dia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/atividades.jpg' %}" class="card-img-top" alt="Atividades">
                <div class="card-body">
                    <h5 class="card-title">Atividades e Bem-Estar</h5>
                    <p class="card-text">Proporcionamos atividades físicas, recreativas e sociais para promover a qualidade de vida.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Entre em Contato</h2>
            <p>Gostaria de saber mais sobre nossos serviços ou tem alguma dúvida? Visite nossa página de contato.</p>
            <a class="btn btn-secondary btn-lg mt-3" href="{% url 'contato' %}" role="button">Contato</a>
        </div>
    </div>
</div>
{% endblock %}
